Django==1.7
PyGithub==1.29
coverage==3.7.1
django-extensions==1.4.9
django-social-auth==0.7.28
httplib2==0.9.1
mongoadmin==0.2
mongodbforms==0.3
mongoengine==0.8.7
oauth2==1.5.211
pymongo==2.7.2
python-openid==2.2.5
requests==2.5.1
selenium==2.52.0
six==1.9.0
wsgiref==0.1.2
