asgiref==3.2.10
certifi==2022.12.7
chardet==3.0.4
coverage==5.3
Django==3.1.12
idna==2.6
isodate==0.6.0
nose==1.3.7
PyJWT==1.6.0
pyparsing==2.2.0
pytz==2019.1
rdflib==4.2.2
requests==2.25.1
selenium==2.52.0
six==1.9.0
sqlparse==0.2.4
TPool==1.2
urllib3==1.26.5
stiqueue==1.1.0
configparser-list==1.0.0
