{% extends "dark/base.html"%}
{% block body%}
<form method="POST" action="signin">{% csrf_token %}
	<input type="email" placeholder="Enter your Email" name="username" class="form-control"/>
	<input type="password" placeholder="Enter your password" name="password" class="form-control"/>
	<input type="submit" value="Sign in" class="form-control"/>
	{{error_signin}}
</form>
</br> </br>
<form method="POST" action="signup">{% csrf_token %}
	<input type="email" placeholder="Enter your Email" name="username" class="form-control"/>
	<input type="password" placeholder="Enter your password" name="password" class="form-control"/>
	<input type="password" placeholder="Confirm your password" name="confirmpassword" class="form-control"/> 
	<input type="submit" value="Sign up" class="form-control"/>
	{{error_signup}}
</form>
{%endblock%}

