{% extends "base2.html"%}

{%block nav-home%} {%endblock%}
{%block nav-tut%}  {%endblock%}
{%block nav-about%} active {%endblock%}
{%block nav-faq%}  {%endblock%}

{%block slim%}


<!--

<h2>Author: </h2>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/6922709?v=3&s=200"><br>
Ahmad Alobaid<br><br>

<h2>Contributors: </h2> <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1520666?v=3&s=200"><br>
Daniel Garijo<br><br>


<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1067341?v=3&s=200"><br>
Oscar Corcho <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/5693576?v=3&s=200"><br>
Maria Poveda<br><br>



-->

<br><br>


<div class="container-fluid">

    <div class="col-md-12">


        <h4>Publications</h4>
        To cite OnToology please use the first reference listed below:

        <ul>
            <li><a href="https://www.sciencedirect.com/science/article/pii/S1570826818300465">
                <strong><cite>Automating ontology engineering support activities with OnToology</cite>.
                    Alobaid, A., Garijo,
                    D., Poveda-Villalón, M., Santana-Pérez, I., Fernández-Izquierdo, A., &
                    Corcho, O. (2018). Journal of
                    Web Semantics.
                </strong>
            </a>
                <p>You can download the bib entry <a
                        href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/references/ontoology.bib">
                    (here)</a>
                </p>
            </li>
            <li><a href="https://pdfs.semanticscholar.org/85c2/adf7263c0e001c7929e10ad21774a2e7d34a.pdf">
                <cite>OnToology, a tool for collaborative development of ontologies</cite>.
                Alobaid, A.,
                Garijo, D., Poveda-Villalón, M., Pérez, I. S., & Corcho, O. (2015, July). In ICBO.</a></li>
            <li><a href="http://oa.upm.es/41331/">
                <cite>OnToology: An online tool for ontology
                    documentation and evaluation</cite>
                Alobaid, A. (2015). (Master
                dissertation, ETSI_Informatica).</a></li>
        </ul>


        <h4>Software</h4>
        To cite the latest software version of OnToology, please use the following reference
        <ul>
            <li><a href="https://doi.org/10.5281/zenodo.1317785">Alobaid, Ahmad, Garijo, Daniel, Poveda-Villalón, María,
                Santana-Pérez, Idafen, Fernández-Izquierdo,
                Alba, & Corcho, Oscar. (2018, July 20). OnToology. Zenodo.
                http://doi.org/10.5281/zenodo.1317785</a>
            </li>
        </ul>

        <h4>Team</h4>
        <p>
          OnToology in maintained by the Ahmad Alobaid, María Poveda, Daniel Garijo, Idafen Santana and Oscar Corcho of the <a href="https://oeg.fi.upm.es//">Ontology Engineering Group</a> at Universidad Politécnica de Madrid
        </p>

        <h4>Projects using OnToology</h4>

        <p class="justify">
            <strong>VICINITY</strong> is an European project that contains a network of ontologies in the domain of
            Internet of Things. The project has a GitHub repository for each ontology in the network, which is used to
            store the ontology and to track all the issues related to it. In order to propose changes, the ontology
            development team has to create a branch where all the proposed changes are made. Once OnToology generates
            all the resources for this new branch, the developers create a pull request to the master branch to discuss
            the modifications done to the ontology. If the ontology development team agrees on the changes the pull
            request is accepted and the changes are merged to the master branch. Users also propose changes through the
            GitHub issue tracker.
            The ontologies are published under the domain <a href="http://vicinity.iot.linkeddata.es"><i>http://vicinity.iot.linkeddata.es</i></a>
            and, therefore, the publication is not done with OnToology. However, the documentation
            generated by OnToology is used for the publication of the ontologies.
            <!--The Figure below shows the VICINITY portal where all the ontologies for VICINITY project are listed.
            <br>
            <img width="100%"
                 src="https://raw.githubusercontent.com/OnToology/OnToology/master/media/misc/vicinity.png"/>
            <img width="100%" src="https://raw.githubusercontent.com/OnToology/OnToology/master/media/misc/gh-pages.png"/>-->
        </p>


        <p class="justify">
            <strong>ETSI Specialist Task Force 513</strong> is a project endorsed by ETSI and European Commission in
            which context the <a href="https://w3id.org/def/saref4bldg"><i>SAREF4BLDG</i></a> and <a
                href="https://w3id.org/def/saref4envi"><i>SAREF4ENVI</i></a> ontologies were developed. These two
            ontologies are stored in the same <a href="https://github.com/mariapoveda/saref-ext">repository</a>, and the
            ontology developers contribute to their implementation collaboratively. Both ontologies have been published
            with OnToology, which automatically publish the ontologies with persistent URI using w3id.
        </p>

        <p class="justify">
          In <a href="http://sprint-transport.eu/">SPRINT</a>, OnToology was extended in order to support ontology development efforts in the context of the Shift2Rail 
          Interoperability Framework, and has been used for the documentation of ontologies being developed in this context.
        </p>

        <p class="justify">
          During the European project easyTV, OnToology was used to document, evaluate an published under w3id the ontology developed to represent sing language information. 
            The <a href="https://w3id.org/def/easytv">easyTV ontology</a> reuses well-known linguistic models as lemon and lexinfo among others.
        </p>
        

        <p class="justify">
          The <a href="https://drugs4covid.oeg.fi.upm.es/">DRUGS4COVID</a> project aims at creating a catalogue of medicines that are being used to combat COVID-19 by using 
            Artificial Intelligence techniques and Citizen Science in order to exploit the existing scientific literature about coronavirus (more than 60,000 papers). 
            The extracted data is annotated with the <a href="https://w3id.org/def/DRUGS4COVID19">DRUGS4COVID vocabulary</a> that has been documented, evaluated and published
            using OnToology.
        </p>


    </div>


</div>

{%endblock%}

{% block home_head %}  {% endblock %}
{% block step_head %} {% endblock %}
{% block about_head %}  class="active"  {% endblock %}
