{% extends "base.html"%}
{%block body%}


<!--  

<h2>Author: </h2>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/6922709?v=3&s=200"><br>
Ahmad Alobaid<br><br>

<h2>Contributors: </h2> <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1520666?v=3&s=200"><br>
Daniel Garijo<br><br>
 

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1067341?v=3&s=200"><br>
Oscar Corcho <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/5693576?v=3&s=200"><br>
Maria Poveda<br><br>



-->

<br><br>


<h3>What does OnToology generate</h3>
<p>
	Once you push changes to Github, OnToology will do the below for each changed ontology
<ul class="col-md-offset-2">
	<li align="left" class="alignleft">Generate documentation into HTML using <a class="emph" href="https://github.com/dgarijo/Widoco">Widoco.</a> </li>
	<li align="left" class="alignleft">Generate diagrams using <a class="emph" href="https://github.com/idafensp/ar2dtool">AR2DTool</a>. It will generate two kinds
	of diagrams:
		<ul>
			<li>Class diagram.</li>
			<li>Taxonomy diagram.</li>
		</ul>
	</li>
	<li align="left" class="alignleft">Generate evaluation report using <a class="emph" href="http://oops.linkeddata.es/">OOPS!</a> which is 
	an evaluation of ontology showing pitfalls in a nice organized HTML.</li>
	<li align="left" class="alignleft">Create an issue in Github with evaluation summary.</li>
	<li align="left" class="alignleft">Default configuration file for each ontology, to enable/disable the generation of documentation,
	 diagrams and/or evaluation report.</li>
	<li align="left" class="alignleft">Default configuration files for Widoco and AR2DTool. It also allows you to modify the configuration 
	of these tools.<!--  (see <a href="https://github.com/dgarijo/Widoco">Widoco configuration guide</a> and
	 <a href="https://github.com/idafensp/ar2dtool">AR2DTool configuration guide</a>) --></li>
</ul>
</p>
<br>

<h3>Limitations</h3>
<li align="left" class="alignleft">Does not support OWL functional-style syntax </li>
<li align="left" class="alignleft">Does not support repositories under an Github organization</li>

<br>
<h3>What does OnToology do</h3>
<p>
	It generates documentation, diagrams and evaluation report for your ontologies. It also creates an issue in Github with 
evaluation summary.Once you register your repository OnToology will track your ontologies (in the registered repository) for changes. 
Whenever a change in an ontology is pushed, OnToology will generate documentation, diagrams and evaluation report for the changed ontologies.
After that, OnToology will create a pull request with the generated files. You can enable/disable documentation, 
visualization or/and evaluation via a configuration file.
</p>
<br>
<h3>Output Structure</h3>
<p>
	OnToology will create a folder named "OnToology" in the top level. Inside this folder, in will create the same structure of the repository. 
Inside the folder that is named after ontology file, there will be three folders, "documentation", "diagrams" and "evaluation". There will 
be configuration file "OnToology.cfg" beside these folders. 
</p>
<img src="https://raw.githubusercontent.com/OnToology/OnToology/Integrator/media/home/structure_before.png" width="480px"  class="img-rounded">
<p>An example of a repository before OnToology is triggered</p>
<img src="https://raw.githubusercontent.com/OnToology/OnToology/Integrator/media/home/structure_after.png" width="480px"  class="img-rounded">
<p>After OnToology is triggered</p>
<br>
<h3>Configuration file</h3>
<p>
The configuation file is per ontology (a repository can has multiple ontologies). It will be created automatically if it does not exist.
It is used to enable/disable the generation of documentation, diagrams and/or evaluation.The configuration file has three sections, "widoco",
 "ar2dtool" and "oops", for documentation, diagrams and evaluation, respectivly. Each of the sections has a key called "enable" and can 
has the values "true" or "false". 
</p>
<img src="https://raw.githubusercontent.com/OnToology/OnToology/Integrator/media/home/configuration.png" width="480px" class="img-rounded">
<p>A sample configuration file</p>




{%endblock%}

{% block home_head %}  {% endblock %}
{% block step_head %} {% endblock %} 
{% block about_head %}  class="active"  {% endblock %} 
