{% extends "base.html"%}
{%block body%}


<!--  

<h2>Author: </h2>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/6922709?v=3&s=200"><br>
Ahmad Alobaid<br><br>

<h2>Contributors: </h2> <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1520666?v=3&s=200"><br>
Daniel Garijo<br><br>
 

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/1067341?v=3&s=200"><br>
Oscar Corcho <br><br>

<img class="img-rounded" src="https://avatars3.githubusercontent.com/u/5693576?v=3&s=200"><br>
Maria Poveda<br><br>



-->







{%endblock%}

{% block home_head %}  {% endblock %}
{% block step_head %} {% endblock %} 
{% block about_head %}  class="active"  {% endblock %} 
