<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OnToology</title>

	<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/manifest.json">
    <link rel="mask-icon" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/favicon.ico">
    <meta name="msapplication-config" content="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
        img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    </style>

</head>
<body>

<!--<img src="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/Ontoology_box_large.png"/>-->
<img src="https://raw.githubusercontent.com/OnToology/OnToology/master/media/icons/500.png"/>
<!--<img src="{{MEDIA_URL}}icons/500.png"/>-->

<h2> ERROR {{error_code}}</h2>

	<a class="" href="/"><div class="col-md-5 col-xs-5 btn btn-default highl ">Home</div></a>
	<a class="" href="/profile"><div class="col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2 btn btn-default highl">My repositories</div></a>

</body>
</html>

