{% extends "base.html"%}
{%block body%}
</br></br>

<ol>
    <li>
        What is OnToology?
        <p>
            A system to automate part of the collaborative ontology development process. Given a repository with an owl
            file, OnToology will survey it and produce diagrams, a complete documentation and validation based on
            common pitfalls.
        </p>
    </li>
    <li>
        What are the web browsers supported by OnToology?
        <p>
            We tested OnToology with: Chrome, Opera, Firefox, and Safari.
        </p>
    </li>
</ol>

</br></br></br></br>
</br></br></br></br>

{% endblock %}