{% extends "base.html"%}
{%block body%}
</br></br>

<ol>
    <li>
        What is OnToology?
        <p>
            A system to automate part of the collaborative ontology development process. Given a repository with an owl
            file, OnToology will survey it and produce diagrams, a complete documentation and validation based on
            common pitfalls.
        </p>
    </li>
    <li>
        What are the web browsers supported by OnToology?
        <p>
            We tested OnToology with: Chrome, Opera, Firefox, and Safari.
        </p>
    </li>
    <li>
        How to know what is happening with my repository in realtime?
        <p>
            go to the progress page. It show what is currently happening with a progress bar and extra information.
        </p>
    </li>
    <li>
        Why ontology documentations doesn't show locally if the index file is opened locally?
        <p>
            This is because chrome by default disables ajax on local html files. It should work with Firefox.
        </p>
    </li>

</ol>

</br></br></br></br>
</br></br></br></br>

{% endblock %}