{% extends "base.html"%}
{%block body%}

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-8 col-md-offset-1 col-sm-11 col-xs-12">

</br></br>

<ol>
    <li>
        <strong>What is OnToology?</strong>
        <p class="justify">
            A system to automate part of the collaborative ontology development process. Given a repository with an owl
            file, OnToology will survey it and produce diagrams, a complete documentation and validation based on
            common pitfalls.
        </p>
    </li>
    <li>
        <strong>How to use it?</strong>
        <p class="justify">
            Create a repository on GitHub with your ontologies. Add your repo to OnToology (e.g. user/reponame).
            Everything will be generated automatically and a
            <a href="https://help.github.com/articles/about-pull-requests/" target="_blank">pull request</a>
            will be sent.
            You can visit the progress
            page to see in real time what is going on with your repository. A pull request will be created
            automatically with all of the resources (docs, diagrams, evaluation report, and JSON-LD).
            see the <a href="/stepbystep">Step by Step</a> page for more info.
        </p>
    </li>
    <li>
        <strong>What is the supported the files folders and files names?</strong>
        <p class="justify">
            English alphabets (caps and small), underscores, dashes, and dots. Other alphabets and characters are not
            supported.
        </p>
    </li>
    <li>
        <strong>What are the web browsers supported by OnToology?</strong>
        <p class="justify">
            We tested OnToology with: Chrome, Opera, Firefox, and Safari.
        </p>
    </li>
    <!--<li>-->
        <!--<strong>How to know what is happening with my repository in real time?</strong>-->
        <!--<p class="justify">-->
            <!--go to the progress page. It show what is currently happening with a progress bar and extra information.-->
        <!--</p>-->
    <!--</li>-->
    <li>
        <strong>Why ontology documentations doesn't show locally if the index file is opened locally?</strong>
        <p class="justify">
            This is because chrome by default disables ajax on local html files. It should work with Firefox.
        </p>
    </li>

</ol>
        </div>
    </div>
</div>


<h2>Community use cases</h2>

<p class="justify">
    Since the release of the tool, OnToology has been adopted by many projects (more than 100 repositories containing more than 500 ontologies). It has been used for ontologies in wide range of domains (e.g. energy, e-science, building, environment, smart cities, etc.). In this section, we present details on how  OnToology was adopted in  the development workflow of two different projects:
    <a href="https://vicinity2020.eu">VICINITY</a> and ETSI Specialist Task Force 513.

</p>

<p class="justify">
    <strong>VICINITY</strong> is a European project that contains a network of ontologies in the domain of Internet of Things. The project has a GitHub repository for each ontology in the network, which is used to store the ontology and to track all the issues related to it. In order to propose changes, the ontology development team has to create a  branch  where all the proposed changes are made. Once OnToology generates all the resources for this new branch, the developers create a pull request to the master branch to discuss the modifications done to the ontology. If the ontology development team agrees on the changes the pull request is accepted and the changes are merged to the master branch. Users also propose changes through the GitHub issue tracker.
    The ontologies are published under the domain <a href="http://vicinity.iot.linkeddata.es"><i>http://vicinity.iot.linkeddata.es</i></a>
    and, therefore, the publication is not done with OnToology and the w3id services. However, the documentation generated by OnToology  is used for the publication of the ontologies.
</p>

<p>
    <strong>ETSI Specialist Task Force 513</strong> is a project endorsed by ETSI and European Commission in which context the <a href="https://w3id.org/def/saref4bldg"><i>SAREF4BLDG</i></a> and <a href="https://w3id.org/def/saref4envi"><i>SAREF4ENVI</i></a> ontologies were developed. These two ontologies are stored in the same <a href="https://github.com/mariapoveda/saref-ext">repository</a>, and the ontology developers contribute to their implementation collaboratively. Both ontologies have been published with OnToology, which automatically publish the ontologies with persistent URI using w3id.
</p>


</br></br></br></br>
</br></br></br></br>

{% endblock %}