{% extends "base.html"%}
{%block body%}

<form action="" method="GET" style="color: #999">
<input name="target_repo" id="target_repo_select" class="form-control">
<input type="submit" class="form-control" value="View changed files"/>
</form>

</br>

<table class="table table-bordered">
<tr>
	<td><b>changed files</b></td>
</tr>
{%for r in result%}
<tr class='ch_file'>
	<td>{{r}}</td>
</tr>
{%endfor%}
</table>

{%if viewproceed %}

<form id="ch_form" action="grantupdate" method="POST">{% csrf_token %}
	<input type="hidden" id="files_list" name="files_list" value="test message"/>
	<input type="hidden" id="target_repo_grand" name="target_repo"/>
	<input type="submit" value="Proceed" class="form-control"/>
</form>

{% endif %}

<script>
var fis="";
$('#ch_form').submit(function (){
	$('#target_repo_grand').val($('#target_repo_select option:selected').text());
	$('.highl').each(function(){
		fis+=$(this).text()+"&";
	});
	//alert(fis);
	$('#files_list').val(fis);
});


$('.ch_file').click(function(){
  if ($(this).hasClass('highl')){
	  $(this).removeClass('highl');
  }
  else{
	  $(this).addClass('highl');  
  }
  //alert('clicked');
});
</script>
{% endblock %}



