{% extends "base2.html"%}
{%block body%}
<br>
<div class="container-fluid"><div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
<br><div class="alert alert-secondary" role="alert">



<a target="_blank" href="https://github.com/OnToology/OnToology/raw/master/media/misc/gh-pages.png">Make sure you enabled
github pages on your repository.</a>
<br>
  </div></div></div>
  <br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Repository</th>
      <th scope="col">Ontology</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {%for op in opubs%}
    <tr>
      <td>{{op.name}} (<a href="https://w3id.org/def/{{op.name}}">https://w3id.org/def/{{op.name}}</a>)</td>
      <td>{{op.repo.url}}</td>
      <td>{{op.ontology}}</td>
      <td>
        <a href="/delete_published?name={{op.name}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 64 64">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        </a>
        <a href="/get_bundle?ontology={{op.ontology}}&repo={{op.repo.url}}&branch=gh-pages">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 64 64">
            <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
          </svg>
        </a>
      </td>
    </tr>
  {%endfor%}
  </tbody>
</table>





{% endblock %}
