{% extends "base.html"%} {%block body%}


<br><br><br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
	  {% for r in repos %}
    <div class="panel-heading" role="tab" id="{{r.url}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{r.id}}" aria-expanded="true" aria-controls="{{r.id}}">
			</a>
			<div class="row">
				<div class="col-md-4 darktext">{{r.url}}</div>
				<div class="col-md-3 darktext">{{r.state}}</div>
				<div class="col-md-4 darktext">{{r.last_used}}</div>
				<div class="col-md-1 darktext">
					<div class="btn-group ">
						  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							  <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu ">
							<li><a href="/delete_repo?repo={{r.url}}">remove</a></li>
							<li><a href="/renew_previsual?target_repo={{r.url}}">previsualize</a></li>
							  {%if r.previsual_page_available %}
							<li><a href="http://{{r.user}}.github.io/{{r.rrepo}}">go to previsual</a></li>
							  {% endif %}
							<li><a href="/generateforall?repo={{r.url}}">generate all</a></li>
						  </ul>
					</div>
				</div>
			</div>

      </h4>
    </div>
	  <!--
    <div id="{{r.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{r.url}}">
      <div class="panel-body">
		This is blah blah
      </div>
    </div> -->
	  {% endfor %}
  </div>
</div>
<br>



<form action="/" method="GET" style="color: #999">
<div class="form-group" >
	<div class="container-fluid">

	<span class=" col-md-9 col-xs-9">
		<input type="text" name="target_repo" id="target_repo_select" class="form-control" placeholder="user/repo" ></br>
	</span>
	<span class="col-md-3 col-xs-3">
		<input type="submit" class="form-control btn" value="Watch this repo"/>
	</span>
	</div>

</div>
</form>






</span>










<br><br><br><br>
<br><br><br><br>


{% endblock %}

