{% extends "base2.html"%} {%block slim%}



<form action="/" method="GET" style="color: #999">
    <div class="form-group">
        <div class="container-fluid">
            <span class=" col-md-9">
                <input type="text" name="target_repo" id="target_repo_select" class="form-control input-lg"
                       placeholder="user/repo"></br>
            </span>
            <span class="col-md-3">
                <input type="submit" class="form-control color1back color3 input-lg" value="Watch this repo"/>
            </span>
        </div>
    </div>
</form>

{% if manager%}
<h4>Number of pending requests: {{num_pending_msgs}}</h4>
<p>This shows the number of requests (e.g., Configuration Change, Resources Generation) that are in the queue, waiting to be processed. Requests which are under processes are not shown here</p>
<h4>Number of running rabbit processes: {{num_of_rabbit_processes}}</h4>
<p>The number of worker processes responsible to handle 'consume' the requests in the queue</p>
<a href="show_repos_list"><div class="btn btn-primary form-control">See live repos list</div></a><br><br>
<a href="show_stats"><div class="btn btn-primary form-control">Show stats</div></a><br><br>
<a href="update_stats"><div class="btn btn-warning form-control">Update stats (Takes a couple of minutes to update)</div></a><br><br>
{%endif%}
<a href="syntax"><div class="btn btn-primary form-control">Syntax checker</div></a><br><br>
<p class="red">{{error}}</p>


<!--<div class="alert alert-danger">-->
<!--    Note that the majority of the functionalities are moved to the <a href="/repos">repos</a> and the <a href="/runs">runs</a>-->
<!--    . Soon the configuration in the page will be removed.-->
<!--</div>-->


<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><span class="btn btn-primary">My repositories</span></h5>
          <p>
              This page contains a list of your repositories. You can view them and manipulate the repo and the
              ontologies within (e.g., force the generation of documentation, diagrams, and evaluation reports).
          </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><span class="btn btn-primary">Previous runs</span></h5>
          <p>
              This page contains the history of your previous runs and the details of the previous generations of documentaion, diagrams,
              and evaluation reports.
          </p>
      </div>
    </div>
  </div>

</div>



<br><br><br><br>
<br><br><br><br>


{% endblock %}
