{% extends "base2.html"%}
{%block slim%}
<!--</br></br>-->

<!--<div class="col-md-offset-1 col-md-9">-->

<h3>Publications</h3>
To cite OnToology please use the first reference listed below:

<ul>
		<li><a href="https://www.sciencedirect.com/science/article/pii/S1570826818300465">
				<strong><cite>Automating ontology engineering support activities with OnToology</cite>.
						Alobaid, A., Garijo,
						D., Poveda-Villalón, M., Santana-Pérez, I., Fernández-Izquierdo, A., &
						Corcho, O. (2018). Journal of
						Web Semantics.
				</strong>
		</a>
				<p>You can download the bib entry <a
								href="https://raw.githubusercontent.com/OnToology/OnToology/master/media/references/ontoology.bib">
						(here)</a>
				</p>
		</li>
		<li><a href="https://pdfs.semanticscholar.org/85c2/adf7263c0e001c7929e10ad21774a2e7d34a.pdf">
				<cite>OnToology, a tool for collaborative development of ontologies</cite>.
				Alobaid, A.,
				Garijo, D., Poveda-Villalón, M., Pérez, I. S., & Corcho, O. (2015, July). In ICBO.</a></li>
		<li><a href="http://oa.upm.es/41331/">
				<cite>OnToology: An online tool for ontology
						documentation and evaluation</cite>
				Alobaid, A. (2015). (Master
				dissertation, ETSI_Informatica).</a></li>
</ul>
	<h3>Software</h3>
	To cite the latest software version of OnToology, please use the following reference
	<ul>
		<li><a href="https://doi.org/10.5281/zenodo.1317785">Alobaid, Ahmad, Garijo, Daniel, Poveda-Villalón, María, Santana-Pérez, Idafen, Fernández-Izquierdo,
		Alba, & Corcho, Oscar. (2018, July 20). OnToology. Zenodo.
			http://doi.org/10.5281/zenodo.1317785</a>
		</li>
	</ul>
<!--</div>-->
{% endblock %}
