{% extends "base.html"%}
{%block body%}





<table class="table table-bordered">

{%for r in repos%}
<tr>
	<td>
		{{r.repo_url}}
	</td>
	<td>	
		<form action="deleterepo" method="POST">
			<input type="hidden" name="repo" value="{{r.repo_url}}"/>		
			<input type="image" src="http://yunda.djehouti.com/media/graph/4fe2fb56eb419.png" height="30" width="30"/>	
		</form>
	</td>
</tr>
{%endfor%}

</table>

<form  method="POST"> {% csrf_token %}
	<input type="text" name="newrepo" class="form-control"/>
	<input type="submit" value="Create" class="form-control"/>
</form>

<script>
$('#repo').click(function(){
	
});
</script>


{%endblock%}

