{% extends "base.html"%}
{%block body%}


Number of oruns = {{oruns| length}}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   {%for orun in oruns%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{orun.timestamp}} ({{orun.repo.url}})
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
            {%for otask in orun.tasks.all%}
           <li class="list-group-item">{{otask.name}} | finished: {{otask.finished}} | success: {{otask.success}} |
               {{otask.description}}</li>
            {%endfor%}


      </div>
    </div>
  </div>
    {%endfor%}



</div>



{% endblock %}
