{% extends "base.html"%}
{%block body%}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   {%for orun in oruns reversed%}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{r.id}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{r.id}}" aria-expanded="true" aria-controls="collapse{{r.id}}">
          {{orun.timestamp}} ({{orun.repo.url}})
        </a>
      </h4>
    </div>
    <div id="collapse{{r.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{r.id}}">
      <div class="panel-body">
            {%for otask in orun.tasks.all%}
            {%if otask.success%}
                    <li class="list-group-item " >
                    {{otask.name}} | {{otask.description}}
                        <span style="color: green;">
                        <svg  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg>
                        </span>
                    </li>

            {%else%}
                {%if otask.finished%}



                          <li class="list-group-item alert alert-danger" role="alert">{{otask.name}} | {{otask.description}}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
</svg>
                          </li>

            {%else%}
                                    <li class="list-group-item alert alert-info" role="alert">{{otask.name}} | {{otask.description}}
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
</svg>

                          </li>


            {%endif%}
          {%endif%}
            {%endfor%}


      </div>
    </div>
  </div>
    {%endfor%}



</div>



{% endblock %}
