{%extends "base.html"%}
{%block body%}
<form action="https://github.com/login/oauth/access_token" method="POST">
<input type="text" name="client_id" placeholder="client_id" class="control-form"/>
<input type="text" name="client_secret" placeholder="client_secret" class="control-form"/>
<input type="text" name="code" placeholder="code" class="control-form"/>
<input type="text" name="redirect_uri" placeholder="redirect_uri" class="control-form"/>
<input type="submit" value="Test" class="control-form"/>
</form>
{%endblock%}